.ellipse-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 70px;
  height: 69px;
  object-fit: cover;
}
.rafael-rachel-struick1,
.rafaelracstrucgmailcom {
  position: absolute;
  top: 1px;
  left: 96px;
  font-weight: 600;
}
.rafaelracstrucgmailcom {
  top: 54px;
  left: 127px;
}
.icoutline-email-icon {
  position: absolute;
  top: 57px;
  left: 96px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.profil-akun {
  position: absolute;
  top: 116px;
  left: 427px;
  width: 452px;
  height: 83px;
}
.no {
  position: absolute;
  top: 0;
  left: 17px;
  font-weight: 600;
}
.foto,
.jenis-ajuan,
.lokasi,
.status-laporan {
  position: absolute;
  top: 0;
  left: 288px;
  font-weight: 600;
}
.foto,
.lokasi,
.status-laporan {
  top: 2px;
  left: 142px;
}
.lokasi,
.status-laporan {
  left: 521px;
}
.status-laporan {
  top: 0;
  left: 690px;
}
.navlaporanprof-child {
  position: absolute;
  top: 40px;
  left: 0;
  width: 926px;
  height: 3px;
  object-fit: contain;
}
.navlaporanprof,
.proflap-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 926px;
  height: 43px;
}
.proflap-child {
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro);
  height: 140px;
}
.image-5-icon1 {
  position: absolute;
  height: 100%;
  width: 18.85%;
  top: 0;
  right: 71.73%;
  bottom: 0;
  left: 9.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div6 {
  position: absolute;
  top: 38px;
  left: 0;
}
.jlsahadewa,
.sampah-numpuk1 {
  position: absolute;
  top: 44px;
  left: 257px;
}
.jlsahadewa {
  left: 490px;
}
.icon-park-outlinepreview-open {
  position: absolute;
  top: 40px;
  left: 787px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.profillaporan,
.review6 {
  position: absolute;
  top: 44px;
  left: 708px;
}
.profillaporan {
  height: 70.71%;
  width: 88.23%;
  top: 14.29%;
  right: 8.42%;
  bottom: 15%;
  left: 3.35%;
}
.laporanprofil,
.proflap {
  position: absolute;
  width: 926px;
}
.proflap {
  top: 74px;
  left: 0;
  height: 140px;
  font-size: var(--font-size-lg);
}
.laporanprofil {
  top: 291px;
  left: 427px;
  height: 214px;
}
.navakun-item,
.navprofil-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 371px;
  height: 1024px;
}
.navakun-item {
  width: 370px;
  height: 84px;
}
.akun1,
.vector-icon14 {
  position: absolute;
  top: 23px;
  left: 128px;
}
.vector-icon14 {
  height: 35.71%;
  width: 8.11%;
  top: 22.62%;
  right: 70%;
  bottom: 41.67%;
  left: 21.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.navakun1 {
  position: absolute;
  top: 393px;
  left: 1px;
  width: 370px;
  height: 84px;
}
.beranda1,
.vector-icon15 {
  position: absolute;
  top: 24px;
  left: 127px;
}
.vector-icon15 {
  height: 37.5%;
  width: 9.46%;
  top: 22.62%;
  right: 68.92%;
  bottom: 39.88%;
  left: 21.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.navberanda2 {
  position: absolute;
  top: 185px;
  left: 1px;
  width: 370px;
  height: 84px;
  cursor: pointer;
}
.laporan1 {
  position: absolute;
  top: 22px;
  left: 128px;
}
.vector-icon16 {
  height: 41.67%;
  width: 7.43%;
  top: 16.07%;
  right: 70.32%;
  bottom: 42.26%;
  left: 22.24%;
  max-width: 100%;
  max-height: 100%;
}
.carbonreport,
.vector-icon16,
.vector-icon17 {
  position: absolute;
  overflow: hidden;
}
.vector-icon17 {
  height: 17.86%;
  width: 4.05%;
  top: 32.5%;
  right: 72.03%;
  bottom: 49.64%;
  left: 23.92%;
  max-width: 100%;
  max-height: 100%;
}
.carbonreport {
  top: 11px;
  left: 76px;
  width: 40px;
  height: 40px;
}
.navlaporan1 {
  position: absolute;
  top: 289px;
  left: 1px;
  width: 370px;
  height: 84px;
  cursor: pointer;
}
.whatsapp-image-2024-04-30-at-13 {
  position: absolute;
  top: 59px;
  left: 50px;
  width: 228px;
  height: 54px;
  object-fit: cover;
}
.akunprof {
  position: absolute;
  left: 9rem;
}
.navprofil {
  position: fixed;
  top: 0;
  left: 0;
  width: 371px;
  height: 1024px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.pageaccount {
  width: 100%;
  position: relative;
  background: linear-gradient(90.08deg, #fff 0.01%);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
