@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-base: 16px;
  --font-size-4xs: 9px;
  --font-size-29xl: 48px;
  --font-size-xs: 12px;
  --font-size-lg: 18px;
  --font-size-2xs: 11px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-gray-100: #747676;
  --color-gray-200: #1f2544;
  --color-gainsboro: #d9d9d9;
  --color-lavender: #cce4ff;
  --color-darkgray: #979494;
  --color-darkslateblue: #0c356a;

  /* Border radiuses */
  --br-6xl: 25px;
  --br-mini: 15px;
  --br-8xs: 5px;
  --br-xl: 20px;
}
